{% extends "base.html" %} {% block start %}
<div class="text-center">
  <h1>Update Company</h1>

  <form method="post" class="container shadow-lg py-4 col-5">
    {% csrf_token %}
    <div class="mb-3">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputName" name="name" placeholder="Employee name" value="{{employee.name}}" required />
    </div>
    <div class="mb-3">
      <label for="inputLocaion" class="form-label">Email</label>
      <input type="text" class="form-control" id="inputEmail" name="email" placeholder="Employee email" value="{{employee.email}}" required />
    </div>
    <div>
      <a href="/company_info/{{company.id}}/employee/"><button type="button" class="btn btn-secondary">Back</button></a>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
</div>
{% endblock %}
